@font-face {
  font-family: "The Dawn Main";
  src: url('../assets/e-01072022dfm/fonts/Titania-Regular.ttf');
}

@font-face {
  font-family: "The Dawn Secondary";
  src: url('../assets/e-01072022dfm/fonts/cutin.otf');
}


/* intro */
.hero-intro { background-color: #00051c; }
.intro-interactive-tab button { background-color: rgba(6, 26, 127, 0.3); }
.intro-interactive-tab button, .intro-interactive-tab button a {
  font-family: 'The Dawn Secondary', serif;
  color: rgba(50, 90, 233, 0.8);
}
.e-01072022dfm-hero-header-name {
  font-family: 'The Dawn Main', serif;
  font-size: 40px; margin-top: -10px;
  color: rgba(0, 60, 179, 0.538);

}

/* video */
.v-01072022dfm-title { color: #2963d8; font-family: 'The Dawn Main', serif }

/* title header */
.xp-01072022dfm-header {
  background-color: #2b0202; color: #d82929;
  font-family: 'The Dawn Secondary', serif;
}

/* cinematic experience */
.cinematic-01072022dfm-xp-text {
  background-color: #ee9d52;
  color: #2b0202;
  padding: 2px 30px;
  border-radius: 1rem;
}
/* live experience */
.live-01072022dfm-xp-live {
  background-color: #d82929;
  color: #2b0202;
  padding: 2px 30px;
  border-radius: 1rem;
}

/* the ending */
.theending {
  font-family: 'The Dawn Secondary', serif;
  color: rgba(50, 132, 233, 0.8);
}