@font-face {
  font-family: "The Dawn Main";
  src: url('../assets/e-01072022dfm/fonts/Titania-Regular.ttf');
}

@font-face {
  font-family: "The Dawn Secondary";
  src: url('../assets/e-01072022dfm/fonts/cutin.otf');
}

/* intro */
.hero-intro { background-color: #0A0F1D }
.header-xp-name { font-family: 'The Dawn Secondary', serif; color: #325588; }
.hero-intro-xpnav li {
  background-color: #32548848; color: #325588;
  font-family: 'The Dawn Secondary', serif;
}

/* journey */
.journey-xp { background-color: #0A0F1D; }
.journey-xp h1 { color: #325588; font-family: 'The Dawn Secondary', serif; }
.timeline h6 { background-color: #0A0F1D; color: #325588; font-family: 'The Dawn Main', serif; }
.timeline h3 { font-family: 'The Dawn Main', serif; }
.v-line-timeline { background-color: #102E5E; }

.cell1-info h3 { font-family: 'The Dawn Main', serif; }
.cell3 { background-color: #020a2b; }

/* video */
.video-row { background-color: #0A0F1D; }
.v-01072022dfm-title { background-color: #2963d8; color: #020a2b; font-family: 'The Dawn Main', serif }

/* title header */
.xp-01072022dfm-header {
  background-color: #0A0F1D; color: #2949d8;
  font-family: 'The Dawn Secondary', serif;
  text-transform: lowercase;
}

/* cinematic experience */
.cinematic-01072022dfm-xp-text {
  background-color: #2949d8;
  font-family: 'The Dawn Main', serif;;
  color: #020a2b; font-size: 90px;
  padding: 2px 30px;
  border-radius: 5rem;
}
/* live experience */
.live-01072022dfm-xp-live {
  background-color: #2949d8;
  font-family: 'The Dawn Main', serif;
  color: #020a2b; font-size: 90px;
  text-transform: uppercase;
  padding: 2px 30px;
  border-radius: 1rem;
}

/* rapid facts */
.rapidfacts {
  background-color: #0A0F1D;
  font-family: 'The Dawn Main';
  color: rgba(50, 132, 233, 0.8);
}

/* the ending */
.theending {
  background-color: #0A0F1D;
  font-family: 'The Dawn Secondary', serif;
  color: rgba(50, 132, 233, 0.8);
}