@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;400;700&display=swap');

/* intro */
.hero-intro { background-color: #2b0202; }
.intro-interactive-tab button { background-color: rgba(127, 6, 6, 0);  border: 1px solid rgb(233, 50, 50);}
.intro-interactive-tab h4, .intro-interactive-tab button, .intro-interactive-tab button a {
  font-family: 'Cormorant Garamond', serif;
  color: rgb(233, 50, 50);
}

.e-03202020ah-hero-header-name {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px; margin-top: -10px; letter-spacing: -5px;
  text-transform: uppercase; font-weight: 100;
  color: rgba(233, 50, 50, 0.8);
}

.cell1-info h3 { font-family: 'Cormorant Garamond', serif; }

/* video */
.video-row { background-color: #2b0202; }
.video-cell { border-color: #d829293a; }
.v-03202020ah-title { background-color: #d82929; color: #2b0202; font-family: 'Cormorant Garamond', serif }

/* title header */
.xp-03202020ah-header {
  background-color: #2b0202; color: #d82929;
  font-family: 'Cormorant Garamond', serif;
}

/* cinematic experience */
.cinematic-03202020ah-xp-text {
  background-color: #ee9d52;
  color: #2b0202;
  padding: 2px 30px;
  border-radius: 1rem;
}
/* live experience */
.live-03202020ah-xp-live {
  background-color: #d82929;
  color: #2b0202;
  padding: 2px 30px;
  border-radius: 1rem;
}

/* rapid facts */
.rapidfacts {
  font-family: 'Cormorant Garamond';
  color: rgba(233, 50, 50, 0.8);
}

/* the ending */
.theending {
  font-family: 'Cormorant Garamond', serif;
  color: rgba(233, 50, 50, 0.8);
}