@font-face {
  font-family: "MDM";
  src: url('../assets/e-03302018mdm/fonts/Engravers\ Bold\ Regular.ttf');
}

/* intro */
.hero-intro { background-color: #00051c; }
.intro-interactive-tab button { background-color: rgba(127, 6, 6, 0);  border: 1px solid rgb(219, 118, 55);}
.intro-interactive-tab button, .intro-interactive-tab button a {
  font-family: "MDM"; font-size: 15px;
  color: rgb(219, 118, 55);
}
.e-03302018mdm-hero-header-name {
  font-family: "MDM";
  font-size: 25px; margin-top: -10px;
  color: rgb(219, 118, 55);
}
.cell1-info h3 { font-family: 'MDM'; }

/* title header */
.xp-03302018mdm-header {
  background-color: rgb(43, 17, 2); color: #d86929;
  font-family: 'MDM'; font-size: 40px;
  text-transform: lowercase;
}

/* video */
.v-03302018mdm-title { color: #d86929; font-family: 'MDM'; font-size: 19px;}

/* cinematic experience */
.cinematic-03302018mdm-xp-text {
  background-color: #d86929;
  font-family: 'MDM';
  color: rgb(43, 17, 2); font-size: 50px;
  padding: 2px 10px;
  border-radius: 1rem;
}
/* live experience */
.live-03302018mdm-xp-live {
  background-color: #d86929;
  font-family: 'MDM';
  color: rgb(43, 17, 2); font-size: 70px;
  text-transform: uppercase;
  padding: 2px 30px;
  border-radius: 1rem;
}

/* rapid facts */
.rapidfacts {
  font-family: 'MDM'; font-size: 70px;
  color: #d86929;
}

/* the ending */
.theending {
  font-family: 'MDM';
  color: #d86929; font-size: 15px;
}