@font-face {
  font-family: "MDM";
  src: url('../assets/e-03302018mdm/fonts/Engravers\ Bold\ Regular.ttf');
}

/* intro */
.hero-intro { background-color: #19130D }
.header-xp-name { font-family: 'MDM', serif; font-size: 50px; color: #A14720; margin-bottom: 20px;}
.hero-intro-xpnav li {
  background-color: #71371048; color: #A14720;
  font-family: 'MDM', serif; font-size: 20px;
}

/* journey */
.journey-xp { background-color: #130C07; }
.journey-xp h1 { color: #A14720; font-family: 'MDM', serif; font-size: 30px;}
.timeline h6 { background-color: #130C07; color: #A14720; }
.timeline h3 { font-family: 'The Dawn Main', serif; }
.v-line-timeline { background-color: #A14720; }


.cell1-info h3 { font-family: 'MDM'; }

/* title header */
.xp-03302018mdm-header {
  background-color: #130C07; color: #d86929;
  font-family: 'MDM'; font-size: 40px;
  text-transform: lowercase;
}

/* video */
.video-row { background-color: #130C07; }
.v-03302018mdm-title { background-color: #130C07; color: #d86929; font-family: 'MDM'; font-size: 19px;}

/* cinematic experience */
.cinematic-03302018mdm-xp-text {
  background-color: #d86929;
  font-family: 'MDM';
  color: #19130D; font-size: 50px;
  padding: 2px 10px;
  border-radius: 3rem;
}
/* live experience */
.live-03302018mdm-xp-live {
  background-color: #d86929;
  font-family: 'MDM';
  color: #19130D; font-size: 70px;
  text-transform: uppercase;
  padding: 2px 30px;
  border-radius: 1rem;
}

/* rapid facts */
.rapidfacts {
  background-color: #130C07;
  font-family: 'MDM'; font-size: 70px;
  color: #d86929;
}

/* the ending */
.theending {
  background-color: #130C07;
  font-family: 'MDM';
  color: #d86929; font-size: 15px;
}